# Logs and dumps
*.log
*.cpuprofile
*.heapsnapshot

# Development helpers
dev/

# Project files
.color_coded
.idea/

# node-gyp build
build/

# Built docs
site/

# Python bytecode
*.pyc

# Examples
examples/
