# Logs and dumps
*.log
*.cpuprofile
*.heapsnapshot

# Development helpers
dev/

# Project files
.color_coded
.idea/

# node-gyp build
build/

# Docs
doc/
site/
mkdocs.yml

# Python bytecode
*.pyc

# Examples
examples/

# Tests
test/
